@using ShipsInSpace.Logic.Extensions
@model ConfirmViewModel

@{
    ViewData["Title"] = "Confirm configuration";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                @Model.Ship.Name
            </div>
            <div class="card-body">

                <table class="table table-borderless">
                    <tr>
                        <th>Hull</th>
                        <td>@Model.Ship.Hull.Name</td>
                    </tr>
                    <tr>
                        <th>Engine</th>
                        <td>@Model.Ship.Engine.Name</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th>Weight</th>
                        <td>@Model.Ship.GetWeight()</td>
                    </tr>
                    <tr>
                        <th>Energy Comsumption</th>
                        <td>@Model.Ship.GetEnergyConsumption()</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        @foreach (var wing in Model.Ship.Wings)
        {
            <div class="card">
                <div class="card-header">
                    Wing: @wing.Name
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-sm">
                        <tr>
                            <th>Weapons</th>
                            <th>Type</th>
                        </tr>
                        @foreach (var weapon in wing.Hardpoint)
                        {
                            <tr>
                                <td>@weapon.Name</td>
                                <td>@weapon.DamageType</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    </div>
    <div class="col-12">

        <form asp-action="Confirm" method="post">
            <input type="hidden" asp-for="Input.WingCount">
            <input type="hidden" asp-for="Input.HullId">
            <input type="hidden" asp-for="Input.EngineId">
            @for (var i = 0; i < Model.Input.Wings.Length; i++)
            {
                <input type="hidden" asp-for="Input.Wings[i].WingId">
                <select multiple asp-for="Input.Wings[i].Weapons" asp-items="@(new SelectList(Model.Input.Wings[i].Weapons))" style="display: none"></select>
            }
            <input type="submit" class="btn btn-primary" value="Confirm"/>
        </form>
    </div>
</div>